@import "tailwindcss";

body {
  margin: 0;
  font-family: sans-serif;
}
@keyframes dash {
  0% {
    stroke-dasharray: 0, 10;
  }
  50% {
    stroke-dasharray: 5, 5;
  }
  100% {
    stroke-dasharray: 10, 0;
  }
}