@import "tailwindcss";

body {
  margin: 0;
  font-family: sans-serif;
}
@keyframes dash {
  0% {
    stroke-dasharray: 0, 10;
  }
  50% {
    stroke-dasharray: 5, 5;
  }
  100% {
    stroke-dasharray: 10, 0;
  }
}

.cyber-btn{
  padding:10px 18px;
  border-radius:8px;
  font-weight:bold;
  letter-spacing:1px;
  border:none;
  cursor:pointer;
  transition:0.3s;
  color:white;
}

.cyber-btn:hover{
  transform:scale(1.05);
  box-shadow:0 0 20px rgba(0,255,255,0.7);
}

/* colors */

.cyber-btn.red{
  background:#ff3b3b;
  box-shadow:0 0 10px #ff3b3b;
}

.cyber-btn.orange{
  background:#ff7a00;
  box-shadow:0 0 10px #ff7a00;
}

.cyber-btn.yellow{
  background:#e6a100;
  box-shadow:0 0 10px #e6a100;
}

.cyber-btn.purple{
  background:#7a2cff;
  box-shadow:0 0 10px #7a2cff;
}

.cyber-btn.globe{
  background:#a10000;
  box-shadow:0 0 10px #ff0000;
}

/* .background-shapes::before,
.background-shapes::after{
  content:"";
  position:fixed;
  width:300px;
  height:300px;
  border:2px solid rgba(0,255,255,0.5);
  top:20%;
  left:20%;
  animation:rotateShape 20s linear infinite;
}

.background-shapes::after{
  top:60%;
  left:70%;
  border-color:rgba(255,0,255,0.5);
  animation-direction:reverse; 
 } */

@keyframes rotateShape{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}